.card {
  /* Posicionamento centralizado */
  position: relative;
  top: 50%;
  left: 40%;

  /* Estilização do card */
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: #000;

  /* Tamanho do card */
  width: 300px;
  height: auto;

  /* Outras estilizações */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}
